logs/
cache/
data/*
dist/
build/
.idea/
export_records/
dist/
ddddocr_models_backup/
test/
temp/
logs/
.cursor/
.idea/
.cursorignore

test/api_test.py
test/data-10.json
test/node_api_test.py
.idea/balenciaga_monitor.iml
.idea/misc.xml
src/test/cettire.html
src/test/drission_test.py
src/test/drissionpage_login_test.py
src/test/ip_test.py
src/test/new_test.py
src/test/test.py
